<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBhzJgJir0nJd5fzLWlMTU8DZm0FXAbWLk</string>
	<key>GCM_SENDER_ID</key>
	<string>748435167694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>maxood.CoffeeCode</string>
	<key>PROJECT_ID</key>
	<string>coffeecode-a0d34</string>
	<key>STORAGE_BUCKET</key>
	<string>coffeecode-a0d34.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748435167694:ios:8fc65eb6d54a0429fc339f</string>
</dict>
</plist>